* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

button {
  width: 100px;
  height: 40px;
  margin: auto 10px;
}

.output-field {
  font-size: 1.2rem;
  margin: auto 0;
}

.button-row {
  width: max-content;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 20px auto;
}

body p {
  font-size: 2rem;
  font-weight: bold;
}
